
.logo{
width: 75%;
padding: 5px 5px 5px;
cursor: pointer;
}

.sidebar{
 position: fixed;
 left: 0;
 bottom: 10px;
 top: 50;
 width: 220px;
 margin-left: 30px;
}
.sidebar-link{
  /* border: 1px solid black ; */
  height: 56px;
  margin-bottom: 3px;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}
.sidebar-link:hover{
background-color: rgb(246, 241, 241);
}
.sidebar-link i{
  font-size:24px;
   margin-left: 10px;
}
.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 16px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  word-spacing: 10px;
}
.sidebar-link img{
width: 25px;
height: 25px;
margin-left: 5px;
}


